
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


   
@font-face {
    font-family: Ageo;
    src: url('Resources/Fonts/AgeoPersonalUse-Medium.otf');
}

footer {
    width: calc(100% - 20px);
    margin-top: 50px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-sizing: border-box;
    font-family: Ageo;
    color: white;
}

.container {
    max-width: 80%;
    /* background-color: red; */
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #2a2a2a;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 100;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #EB5749;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-weight: 300;
    display: block;
    transition: all .3s ease;
}

.footer-col ul li a:hover {
    color: #EB5749;
    padding-left: 7px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
    color : #24262b;
    background-color: white;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
  
}




